@font-face {
    font-family: 'Bellefair', serif;
    src: url('../fonts/Bellefair-Regular.ttf');
}

@font-face {
    font-family: 'Barlow Condensed', sans-serif;
    src: url('../fonts/BarlowCondensed-Regular.ttf');
}

$white: #ffffff;
$light-blue: #d0d6f9;
$dark-blue: #0b0d17;

$ff-bellefair: 'Bellefair', serif;
$ff-barlow: 'Barlow Condensed', sans-serif;